<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=plato\sql2005;Database=tempdb;Integrated Security=SSPI</property>
      <property name="connection.isolation">ReadCommitted</property>      
      <mapping assembly="SoftwareFg.Framework.NHibernateUtils.Tests"/>
    </session-factory>
  </hibernate-configuration>


  <log4net>
    <appender name="GeneralLog" type="log4net.Appender.ConsoleAppender">      
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss} [%t] %-5p %c - %m%n"/>
      </layout>
    </appender>

    <root>
      <priority value="INFO"/>      
      <appender-ref ref="GeneralLog"/>
    </root>

    <logger name="NHibernate" additivity="false">
      <level value="DEBUG"/>
      <appender-ref ref="GeneralLog"/>
    </logger>
    
  </log4net>

  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\tmp\log4net.txt"/>
      </listeners>
    </trace>
  </system.diagnostics>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
